<nav class="navbar navbar-dark bg-dark p-2">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" name="options" [value]="viewTypeEnum.Grid" [(ngModel)]="viewType"
        (ngModelChange)="viewChange($event)"> Grid View
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" [value]="viewTypeEnum.List" [(ngModel)]="viewType"
        (ngModelChange)="viewChange($event)"> List View
    </label>
  </div>
  <div class="d-flex">
    <ng-multiselect-dropdown [placeholder]="'Select Product'" [settings]="dropdownSettings" [data]="products"
      [(ngModel)]="selectedDropDownItems" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)" style="color:#FFF;"></ng-multiselect-dropdown>
    <button type="button" [disabled]="selectedDropDownItems.length<2" class="btn btn-primary"
      style="margin-left: 20px;" (click)="openCompareModal()">Compare</button>
  </div>
</nav>
<div class="card d-inline-block m-2" *ngFor="let product of products"
  [ngClass]="{'w-25': viewTypeEnum.Grid == viewType , 'w-100': viewTypeEnum.List == viewType}">
  <h4 class="card-header">
    {{product.name}}
  </h4>
  <div class="card-body">
    <p class="card-text">Available Quantity : {{product.inventory.availableQty}}</p>
    <p class="card-text">Price : ${{product.price}}</p>
    <a href="javascript:void(0)" (click)="showDetails(product)">
      <span *ngIf="!product.isDetailShown">Show Details</span>
      <span *ngIf="product.isDetailShown">Hide Details</span>
    </a>
    <p class="card-text" *ngIf="product.isDetailShown" [innerHTML]="product.detail"></p>
    <span class="d-block" style="color: red;"
      *ngIf="product.inventory.availableQty <= fewItemsLeftLimit && product.inventory.availableQty > 0">Hurry, few
      items left</span>
    <a *ngIf="product.inventory.availableQty > 0; else outOfStock_content" style="margin-top:10px"
      class="btn btn-primary d-block" href="javascript:void(0)" (click)="addToCart(product)">Add to cart</a>
  </div>
</div>
<ng-template #outOfStock_content><span class="d-block" style="color: red;">Sorry, Out of stock!!!</span></ng-template>


<div class="card d-inline-block m-2 w-100" *ngIf="cart.products.length > 0">
  <div class="card-header">
    <h4>Cart</h4>
  </div>
  <div class="card-body">
    <ul class="list-group" *ngFor="let product of cart.products">
      <li class="list-group-item mb-2" *ngIf="product.product != undefined">
        <div class="d-inline-block">
          <h4>
            {{product.product.name}}
          </h4>
          <div>
            Quantity : {{product.purchasedQty}}
          </div>
          <div>
            Price : ${{product.purchasedQty * product.product.price}}
          </div>
        </div>
        <button class="btn btn-danger" style="float:right" (click)="removeFromCart(product)">Remove</button>
      </li>

    </ul>
    <div class="list-group">
      <li class="list-group-item">
        <h4 class="d-inline-block">
          Total
        </h4>
        <h4 style="float:right">
          ${{cart.total}}
        </h4>
      </li>
    </div>

  </div>
</div>